    <div class="sideber">
        <nav>
            <ul class="side-links">
                <div class="side-link-box">
                    <span class="fa fa-home side-icon"></span>
                    <li>
                        <%= link_to "Home", "#" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <span class="fa fa-key side-icon"></span>
                    <li>
                        <%= link_to "Private", "#" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <span class="fa fa-user side-icon"></span>
                    <li>
                        <%= link_to @user.name, "#" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <span class="fa fa-users side-icon"></span>
                    <li>
                        <%= link_to "Users", "#" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <span class="fa fa-cog side-icon"></span>
                    <li>
                        <%= link_to "Setting", "#" %>
                    </li>
                </div>
            </ul>
        </nav>
        <div class="side-logo">
            <img src="/solilokey-logo.png">
            <p>Solilokey</p>
        </div>
    </div>