    <div class="sideber">
        <nav>
            <ul class="side-links">
                <div class="side-link-box">
                    <%= link_to "/posts/new" do %>
                        <span class="fa fa-home side-icon-smart"></span>
                    <% end %>
                    <span class="fa fa-home side-icon"></span>
                    <li>
                        <%= link_to "Home", "/posts/new" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <%= link_to "/search" do %>
                        <span class="fa fa-search side-icon-smart"></span>
                    <% end %>
                    <span class="fa fa-search side-icon"></span>
                    <li>
                        <%= link_to "Search", "/search" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <%= link_to "/privateposts/new" do %>
                        <span class="fa fa-key side-icon-smart"></span>
                    <% end %>
                    <span class="fa fa-key side-icon"></span>
                    <li>
                        <%= link_to "Private", "/privateposts/new" %>
                    </li>
                </div>
                <div class="side-link-box">
                    <%= link_to current_user do %>
                        <span class="fa fa-user side-icon-smart"></span>
                    <% end %>
                    <span class="fa fa-user side-icon"></span>
                    <li>
                        <%= link_to "You", current_user %>
                    </li>
                </div>
                <div class="side-link-box">
                    <%= link_to users_path do %>
                        <span class="fa fa-users side-icon-smart"></span>
                    <% end %>
                    <span class="fa fa-users side-icon"></span>
                    <li>
                        <%= link_to "Users", users_path %>
                    </li>
                </div>
                <div class="bootstrap">
                    <div class="setting1">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            ⚙ <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "ユーザー編集", "/users/#{current_user.id}/edit" %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "ログアウト", logout_path, method: :delete %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-link-box">
                    <div class="bootstrap">
                    <span class="fa fa-cog side-icon"></span>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Setting <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "ユーザー編集", "/users/#{current_user.id}/edit" %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "ログアウト", logout_path, method: :delete %>
                            </li>
                        </ul>
                    </li>
                    </div>
                </div>
            </ul>
        </nav>
    </div>