<% provide(:title, 'Edit') %>

<div class="container">

    <%= render 'users/sideber' %>
    
    <div class="container2">
        <div class="edit-user-page">
            <div class ="blank">
            </div>
            <div class="form-box">
                <%= form_with model: @user, local: true do |f| %>
                    <%= render "users/error_messages" %>

                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-area" %>

                    <%= f.label :email %>
                    <%= f.email_field :email, class: "form-area" %>

                    <%= f.label :password %>
                    <%= f.password_field :password, class: "form-area" %>

                    <%= f.label :image %>
                    <%= f.file_field  :image_name, class: "form-area" %>

                    <%= f.submit "変更", class: "submit" %>
                <% end %>
            </div>
            <div class="post-destroy">
                <%= link_to "アカウントを削除する", @user, method: :delete, data: { confirm: "本当にアカウントを削除しますか??" } %>
            </div>
        </div>
    </div>

</div>