<% provide(:title, "Home") %>

<div class="container">

    <%= render 'users/sideber' %>
    
    <div class="container2">
        <div class="posts-page">
            <div class="post-form">
                <%= form_with model: @post, url: "/posts/create", local: true do |f| %>
                    <%= render "posts/error_messages" %>
                    <%= f.text_area :content, class: "text-area", placeholder: " 文章を入力してください" %>
                    <%= f.file_field  :image_name, class: "form-area2" %>
                    <%= f.submit "投稿", class: "submit2" %>
                <% end %>
            </div>
            <div class="posts-box">
                <% @posts.each do |post| %>
                    <div class="post-box">
                        <div class="posts-box-left">
                            <%= link_to post.user do %>
                                <img src="<%= "/user_images/#{post.user.image_name}" %>">
                            <% end %>
                        </div>
                        <div class="posts-box-right">
                            <span class="post-name"><%= link_to post.user.name, post.user %></span>
                            <span class="content"><%= link_to post.content, "/posts/#{post.id}" %></span>
                            <% if post.image_name %>
                                <div class="post_image_box">
                                    <%= link_to "/posts/#{post.id}" do %>
                                        <img src="<%= "/post_images/#{post.id}.jpg" %>" alt class="post_image" onerror="this.onerror = null; this.src='';"/>
                                    <% end %>
                                </div>
                            <% end %>
                            <% if Like.find_by(user_id: current_user.id, post_id: post.id) %>
                                <div class="like_box">
                                <%= link_to "/likes/#{post.id}/destroy", method: :post do %>
                                    <span class="fa fa-heart like-btn-unlike"></span>
                                <% end %>
                                </div>
                            <% else %>
                                <div class="like_box">
                                <%= link_to "/likes/#{post.id}/create", method: :post do %>
                                    <span class="fa fa-heart like-btn"></span>
                                <% end %>
                                </div>
                            <% end %>
                            <span class="like-count"><%= post.likes.count %></span>
                            <span class="time"><%= post.created_at.to_s(:datetime_jp) %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>