<% provide(:title, "Search") %>

<div class="container">

    <%= render 'users/sideber' %>
    
    <div class="container2">
        <div class="posts-page">
            <div class="post-form2">
                <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, class: "text-area2", placeholder: " キーワード検索" %>
                    <%= f.submit "検索", class: "submit3" %>
                <% end %>
            </div>
            <div class="border-search">
            </div>
            <ul class="users-box">
                <% @users.each do |user| %>
                    <li>
                        <%= link_to user do %>
                            <img src="<%= "/user_images/#{user.image_name}" %>">
                        <% end %>
                        <%= link_to user.name, user %>
                    </li>
                <% end %>
            </ul>
            <div class="posts-box2">
                <% @posts.each do |post| %>
                    <div class="post-box">
                        <div class="posts-box-left">
                            <%= link_to post.user do %>
                                <img src="<%= "/user_images/#{post.user.image_name}" %>">
                            <% end %>
                        </div>
                        <div class="posts-box-right">
                            <span class="post-name"><%= link_to post.user.name, post.user %></span>
                            <span class="content"><%= link_to post.content, "/posts/#{post.id}" %></span>
                            <% if post.image_name %>
                                <div class="post_image_box">
                                    <%= link_to "/posts/#{post.id}" do %>
                                        <img src="<%= "/post_images/#{post.id}.jpg" %>" alt class="post_image" onerror="this.onerror = null; this.src='';"/>
                                    <% end %>
                                </div>
                            <% end %>
                            <% if Like.find_by(user_id: current_user.id, post_id: post.id) %>
                                <div class="like_box">
                                <%= link_to "/likes/#{post.id}/destroy", method: :post do %>
                                    <span class="fa fa-heart like-btn-unlike"></span>
                                <% end %>
                                </div>
                            <% else %>
                                <div class="like_box">
                                <%= link_to "/likes/#{post.id}/create", method: :post do %>
                                    <span class="fa fa-heart like-btn"></span>
                                <% end %>
                                </div>
                            <% end %>
                            <span class="like-count"><%= post.likes.count %></span>
                            <span class="time"><%= post.created_at.to_s(:datetime_jp) %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>